build/*
kart_simulator.egg-info/*
docs/cahier_des_charges.aux
docs/cahier_des_charges.fdb_latexmk
docs/cahier_des_charges.fls
docs/cahier_des_charges.log
docs/cahier_des_charges.out
docs/cahier_des_charges.synctex.gz
